html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100vw;
    margin: 0 auto;
}

main {
    margin: 1rem;
}

header ul {
    list-style: none;
    padding: 0.25em 0;
    margin: 0.25em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header {
    width: 100%;
    display: inline-flex;
}

#header-left {
    display: inline-flex;
    align-items: flex-start;
    align-self: center;
    padding: 1rem;
}

#header-right {
    display: inline-flex;
    align-items: flex-end;
}

.header-btns {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    height: 3rem;
}

img#hero {
    width: 100%;
}

img.about {
    width: 50%;
}

.logo {
    display: flex;
    align-items: flex-start;
    max-width: 20vw;
}

header {
    background: linear-gradient(45deg, #1B4369, #3E8DBE);
    width: 100%;
    margin-bottom: -5px;
    /* box-shadow: 2px 1px 6px #323232; */
}

#banner-left {
    border: 50px red, 50px blue, 50px green, 50px magenta;
    width: 40vw;
    background: linear-gradient(60deg, #1F4D7F, #306084 65%, #8C9C89 99%);
    padding: 2rem 1rem;
    color: #fff;
}

.heading {
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
    font-weight: bold;
    font-family: "Bebas Neue", Impact, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.05rem;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1B4369;
    color: #fff;
    padding: 1rem;
    font-size: 0.7rem;
    height: 25vh;
}

footer a {
    color: #fff;
}

#footer-right {
    align-items: flex-end;
    align-self: flex-end;
}

#footer-left {
    align-items: flex-start;
    align-self: center;
}

#disclaimer {
    border: 2px solid #fff;
    padding: 0.5rem 3rem;
}

.legal {
    display: inline-block;
    position: relative;
    bottom: 0px;
    left: 180px;
    margin-top: -10px;
}

#socials img {
    border-radius: 100px;
    height: 100%;
    vertical-align: middle;
    padding: 0;
}

#socials {
    margin-right: 1em;
}

button {
    font-weight: bold;
    padding: 0.6rem;
    margin: 0.5rem 0.25rem;
    border: none;
}

button#volunteer {
    background-color: #EFBA43;
    color: #001E50;
    text-transform: uppercase;
}

button#donate {
    background-color: #B32A36;
    color: #fff;
    text-transform: uppercase;
}

button#signup {
    width: 30vw;
    background-color: #88D4FB;
    color: #10274C;
    text-transform: uppercase;
}

.rounded {
    border-radius: 20px;
}

.donate {
    width: 70vw;
    margin: 0 auto;
    padding: 2rem 4rem;
    background: linear-gradient(60deg, #1F4D7F, #306084 65%, #8C9C89 99%);
}

#donations-btns {
    list-style: none;
    padding-left: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 500px;
}

#donations {
    color: #fff;
}

.donations-btn {
    width: 14rem;
    background-color: #183E66;
    color: #fff;
    border: 3px solid #89D5FB;
    font-size: 1.2rem;
}

.dollarsign {
    font-size: 0.8rem;
    vertical-align: text-top;
}