@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }

html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100vw;
    margin: 0;
}

header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header {
    width: 100vw;
    display: inline-flex;
}

#header-left {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
}

/* #header-right {
    max-height: 8vh;
} */

.header-btns button {
    max-height: 50%;
    min-height: 2rem;
}

img#hero {
    position: relative;
    z-index: -1;
    width: 100vw;
}

.about p {
    margin: 0 auto;
}

img.about {
    max-width: 50vw;
    max-height: 30vh;
}

.logo {
    display: flex;
    align-items: flex-start;
    max-width: 20vw;
    max-height: 80px;
}

header {
    background: linear-gradient(45deg, #1b4369, #3e8dbe);
    width: 100vw;
    margin-bottom: -5px;
    box-shadow: 2px 1px 6px #323232;
}

/* .hero-banner {
    display: inline;
} */

.hero-banner img {
    display: block;
    object-fit: cover;
    max-height: 50vh;
    width: 100vw;
}

#banner-logo {
    max-width: 200px;
    object-fit: contain;
}

#banner-left {
    display: inline-flex;
    position: absolute;
    z-index: 1;
    background: linear-gradient(
        to top right,
        #1f4d7f,
        #306084 65%,
        #8c9c89 99%
    );
    /* background-color: #1F4D7F; */
    /* border-bottom: 50px solid #1F4D7F; */
    /* border-right: 25px solid transparent; */
    /* border-image: linea/r-gradient(to top right, #1F4D7F, #306084 65%, #8C9C89 99%); */
    /* height: 0;
	height: 200px;
	width: 125px; */
    width: 40vw;
    padding: 2rem 1rem;
    color: #fff;
}

#banner-right {
    display: inline-flex;
    width: 100%;
}

form#sign-up {
    margin: 0 auto;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 30vw;
    font-size: 1.15rem;
}

::placeholder {
    color: #fff;
    opacity: 1;
}

#sign-up input {
    margin: 0.5rem;
    padding: 0.25rem;
    background-color: #5b88af;
    color: #fff;
    border: 1px solid #fff;
}

.heading {
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    margin: 0.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
    font-family: "Bebas Neue", Impact, "Arial Narrow Bold", sans-serif;
    letter-spacing: 0.05rem;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1b4369;
    color: #fff;
    padding: 1rem;
    font-size: 0.7rem;
    height: 25vh;
}

footer a {
    color: #fff;
}

#footer-right {
    align-items: flex-end;
    align-self: flex-end;
}

#footer-left {
    align-items: flex-start;
    align-self: center;
}

#disclaimer {
    border: 2px solid #fff;
    padding: 0.5rem 3rem;
}

.legal {
    display: inline-block;
    position: relative;
    bottom: 0px;
    left: 180px;
    margin-top: -10px;
}

#socials img {
    border-radius: 100px;
    height: 50%;
    vertical-align: middle;
    padding: 0;
}

#socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-right: 1rem;
}

button {
    font-weight: bold;
    padding: 0.6rem;
    margin: 0.5rem 0.25rem;
    border: none;
}

button:hover {
    box-shadow: 0 0 4px #fff;
}

.socials img:hover {
    box-shadow: 0 0 4px #fff;
}

button#volunteer,
button#donate,
button#signup {
    text-transform: uppercase;
}

button#volunteer {
    background-color: #efba43;
    color: #001e50;
}

button#donate {
    background-color: #b32a36;
    color: #fff;
}

button#signup {
    width: 30vw;
    background-color: #88d4fb;
    color: #10274c;
}

.rounded {
    border-radius: 20px;
}

.donate {
    background: linear-gradient(
        to top right,
        #1f4d7f 25%,
        #23558c 75%,
        #3d687a 90%
    );
    position: relative;
    margin: 0 auto;
    max-width: 70vw;
    padding: 1rem 4rem;
}

#donations-btns {
    list-style: none;
    padding-left: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 500px;
}

#donations {
    color: #fff;
}

.donations-btn {
    width: 14rem;
    background-color: #183e66;
    color: #fff;
    border: 3px solid #89d5fb;
    font-size: 1.4rem;
}

.donations-btn:hover {
    box-shadow: 0 0 4px #fff;
}

.active {
    background-color: #efba43;
    color: #183e66;
    border-color: #183e66;
}

.dollarsign {
    font-size: 0.8rem;
    vertical-align: text-top;
}

#about-2 {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: flex-end;
}

#mobile-nav {
    display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    main {
        margin: 0 auto;
        width: 100vw !important;
        font-size: 1.5rem;
    }

    .header {
        display: inline-block;
        width: 100vw;
        margin-bottom: 1rem;
    }

    .socials,
    .header-btns,
    .hero-banner {
        display: none;
    }

    #mobile-nav {
        display: block;
        position: absolute;
        top: 50px;
        right: 90px;
    }

    #about {
        margin: 0 auto;
        padding: 1rem 2rem;
    }

    .donate {
        width: 100vw;
    }

    .legal {
        position: unset;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
